[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
prompt              = no

[ req_distinguished_name ]
C                   = TR
ST                  = Istanbul
L                   = Istanbul
O                   = murmurlab
OU                  = software dev
CN                  = https://murmurlab.github.io/
emailAddress        = murmur@reborn.com
